{% extends "base.html" %}

{% block title %}
  Технологии
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-10 p-3">
    <h4>Технологии, использованные для создания<br> этого тренировочного сайта:</h4>
    <aside class="col-12 col-md-9">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python 3.7
        </li>
        <li class="list-group-item">
          Django 2.2.19
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <hr>
        Этот сайт создан только с Божьей помощью, иначе пояснить, как я всё это создал, не могу :) Ну, 
        и контент Яндекс.Практикума помог, конечно, и сокурсники. Поначалу было полегче, начиная с середины третьего спринта
        стало довольно сложно всё выполнять. Когда всё более системно пойму и пропущу через себя, смогу более полно
        пояснить информацию о технологиях. 
      <hr>
    </article>
  </div>
</div>
{% endblock %}
